[project]
	description = book
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/王芊 (wq19901103wq)
[access "refs/for/refs/*"]
	read = group user/王芊 (wq19901103wq)
	push = group user/王芊 (wq19901103wq)
	label-Code-Review = -2..+2 group user/王芊 (wq19901103wq)
	label-Verified = -1..+1 group user/王芊 (wq19901103wq)
	rebase = group user/王芊 (wq19901103wq)
	removeReviewer = group user/王芊 (wq19901103wq)
	submit = group user/王芊 (wq19901103wq)
[access "refs/heads/*"]
	read = group user/王芊 (wq19901103wq)
	create = group user/王芊 (wq19901103wq)
	push = +force group user/王芊 (wq19901103wq)
	pushMerge = group user/王芊 (wq19901103wq)
[access "refs/tags/*"]
	push = +force group user/王芊 (wq19901103wq)
	pushTag = group user/王芊 (wq19901103wq)
	pushSignedTag = group user/王芊 (wq19901103wq)
